section.posts

  if cache
    h1
      a(href='/blog.html')
        span blog


    div
      ol
        each post, index in cache
          li
            article          
              a(href= post.stats.uri)
                if post.stats.comments.thumbnail
                  img.thumbnail(src= post.stats.comments.thumbnail)
                div.content
                  h2.title= post.stats.title
                    if post.stats.comments.summary
                      h3.subtitle= post.stats.comments.summary

                  .tags
                    if post.stats.comments
                      .tag
                        span.icon.is-small
                          i.fa-solid.fa-flag-checkered
                        span= post.stats.comments.creation
                      .tag
                        span.icon.is-small
                          i.fa-solid.fa-file
                        span= post.stats.size
                      .tag
                        span.icon.is-small
                          i.fa-solid.fa-glasses
                        span #{post.stats.readtime} Min.
